<!DOCTYPE html>

<head>
    <title>Assignment 3</title>
</head>

<body>
    <h1>Smart Lighting System Dashboard</h1>
    <h3>Current Time: <span id="time"></span></h3>
    <div class="blind">
        <h2 class="blind-child"><a href="/window12">Window blind 1 & 2</a></h2>
        <h2 class="blind-child"><a href="/window34">Window blind 3 & 4</a></h2>
    </div>
    <div class="parent">
        <div class="child">
            <h2 class="link"><a href="/automated">LDR Sensors</a></h2>

            <h2>All LEDs: </h2>
            <h3><a href="/action1"> Click to turn on </a>
                <h3><a href="/action2"> Click to turn off</a>

                    <h2>One LED: </h2>
                    <h3><a href="/action3"> Click to turn on </a>
                        <h3><a href="/action4"> Click to turn off</a>
        </div>

        <div class="child" id="leds">
            {% for pin in pins %}
            <h3>{{ pins[pin].name }}
                {% if pins[pin].state == 1 %}
                is currently <strong>on</strong></h3>
            {% else %}
            is currently <strong>off</strong></h3>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</body>

<script>
    var span = document.getElementById('time');

    function time() {
        var d = new Date();
        var s = d.getSeconds();
        var m = d.getMinutes();
        var h = d.getHours();
        span.textContent =
            ("0" + h).substr(-2) + ":" + ("0" + m).substr(-2) + ":" + ("0" + s).substr(-2);
    }

    setInterval(time, 1000);
</script>

<style>
    a:link,
    a:visited {
        text-decoration: none;
        color: #505251;
    }

    a:hover {
        text-decoration: underline;
    }

    .child,
    .blind-child {
        display: inline-block;
        padding: 16px;
    }

    #leds {
        margin-left: 30px;
    }

    .parent {
        margin-top: -50px;
        margin-left: -15px;
    }

    .blind {
        margin-top: -30px;
        margin-left: -15px;
    }
</style>

</html>
